.app--dash {
    padding: 5rem 0;
    justify-content: flex-start;
}

.remainder {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.remainder--amount {
    font-family: $f-mono;
    font-size: 2.5rem;
}

.remainder--caption {
    text-align: right;
    font-size: 0.7rem;
}

.category {
    position: relative;
    width: 70vw;
    height: 12rem;
    margin: 1.5rem 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.category__graph {
    position:absolute;
    left: 0;
    background-color: white;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
}

.category__legend {
    list-style: none;
    color: $c-bkg-0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background: $c-bkg-1;
    height: 100%;
    width: 80%;
    border-radius: 1rem;
    padding: 0 4rem;
}

.category__btn {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    width: 2rem;
    height: 2rem;
    background-color: $c-bkg-0;
    border-radius: 50%;
    color: $c-bkg-1;
}

.transactions {
    position: relative;
    margin: 3rem 0 0 0;
    width: 70vw;
    list-style: none;
    &:before {
        content: 'Recent Transactions';
        position: absolute;
        left: 0;
        top: -2rem;
    }
}

.transactions__more {
    position: absolute;
    right: 0;
}

.transaction {
    font-family: $f-mono;
    font-size: 0.9rem;
    width: 100%;
    padding: 0.2rem 0.6rem;
    display: flex;
    align-items: center;
    background: $c-bkg-1;
    color: $c-bkg-0;
    border-radius: 0.5em;
    margin-bottom: 0.5rem;
    &:last-child {
        margin-bottom: 0;
    }
}

.transaction__date {
    flex-grow: 0;
}

.transaction__vendor {
    padding-left: 1.5rem;
    flex-grow: 1;
    line-height: 1.2;
}

.transaction__amount {
    flex-grow: 0;
}

.buttons {
    margin-top: 2rem;
}

.btn {
    padding: 0.5rem;
    background-color: $c-bkg-1;
    color: $c-bkg-0;
    border: none;
    cursor: pointer;
    outline: none;
}

.wrapper--form {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
}

#add-ctg {
    background: #006471;
    color: $c-bkg-0;
    width: 12rem;
    height: 12rem;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: $f-mono;
    font-size: 0.8rem;
    & > label {
        margin-top: 1rem;
        margin-bottom: 0.5rem;
        &:first-child {
            margin-top: 0;
        }
    }
}

.form--submit {
    margin-top: 1rem;
    padding: 0.2rem;
    background-color: $c-bkg-0;
    outline: none;
    box-shadow: none;
}

input {
    &:focus {
        outline: none;
    }
}