.login {
    background-color: $c-bkg-1;
    width: 16rem;
    height: 16rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login--input {
    color: $c-bkg-0;
    margin: 1rem 0;
}

.login--btn {
    background-color: $c-bkg-0;
    width: 6rem;
    height: 1rem;
    border-radius: 1rem;
    position: relative;
}

.icon {
    background-color: $c-bkg-0;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}