* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: auto;
}

body {
  font-family: $f-body;
  font-size: $f-size-base;
  line-height: 1.618;
  color: $c-body;
  z-index: 0;
}