@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700');

/* --- Colors --- */

$c-head: #373836;
$c-body: #3c3e3b;
$c-body-s: #A6A4A0;

$c-bkg-0: #f2f2f2;
$c-bkg-1: #028090;

/* --- Fonts --- */

$f-head: "Montserrat", sans-serif;
$f-body: "SF Pro Text", "Open Sans", sans-serif;
$f-serif: "Libre Baskerville", serif;
$f-mono: "Source Code Pro", monospace;

$f-size-base: 16px;

/* --- Mixins --- */

@mixin respond-to($breakpoint) {
  @media only screen and (min-width: $breakpoint) {
    @content;
  }
}