@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,600,700,800");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700");
@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700");
/* --- Colors --- */
/* --- Fonts --- */
/* --- Mixins --- */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: auto;
}

body {
  font-family: "SF Pro Text", "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.618;
  color: #3c3e3b;
  z-index: 0;
}

/**
 * This file contains all classes that may
 * be used by multiple pages/components.
 */
#app {
  background-color: #f2f2f2;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.clickable {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

h1 {
  line-height: 1.2;
}

.login {
  background-color: #028090;
  width: 16rem;
  height: 16rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login--input {
  color: #f2f2f2;
  margin: 1rem 0;
}

.login--btn {
  background-color: #f2f2f2;
  width: 6rem;
  height: 1rem;
  border-radius: 1rem;
  position: relative;
}

.icon {
  background-color: #f2f2f2;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.app--dash {
  padding: 5rem 0;
  justify-content: flex-start;
}

.remainder {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.remainder--amount {
  font-family: "Source Code Pro", monospace;
  font-size: 2.5rem;
}

.remainder--caption {
  text-align: right;
  font-size: 0.7rem;
}

.category {
  position: relative;
  width: 70vw;
  height: 12rem;
  margin: 1.5rem 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.category__graph {
  position: absolute;
  left: 0;
  background-color: white;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
}

.category__legend {
  list-style: none;
  color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background: #028090;
  height: 100%;
  width: 80%;
  border-radius: 1rem;
  padding: 0 4rem;
}

.category__btn {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  width: 2rem;
  height: 2rem;
  background-color: #f2f2f2;
  border-radius: 50%;
  color: #028090;
}

.transactions {
  position: relative;
  margin: 3rem 0 0 0;
  width: 70vw;
  list-style: none;
}
.transactions:before {
  content: "Recent Transactions";
  position: absolute;
  left: 0;
  top: -2rem;
}

.transactions__more {
  position: absolute;
  right: 0;
}

.transaction {
  font-family: "Source Code Pro", monospace;
  font-size: 0.9rem;
  width: 100%;
  padding: 0.2rem 0.6rem;
  display: flex;
  align-items: center;
  background: #028090;
  color: #f2f2f2;
  border-radius: 0.5em;
  margin-bottom: 0.5rem;
}
.transaction:last-child {
  margin-bottom: 0;
}

.transaction__date {
  flex-grow: 0;
}

.transaction__vendor {
  padding-left: 1.5rem;
  flex-grow: 1;
  line-height: 1.2;
}

.transaction__amount {
  flex-grow: 0;
}

.buttons {
  margin-top: 2rem;
}

.btn {
  padding: 0.5rem;
  background-color: #028090;
  color: #f2f2f2;
  border: none;
  cursor: pointer;
  outline: none;
}

.wrapper--form {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#add-ctg {
  background: #006471;
  color: #f2f2f2;
  width: 12rem;
  height: 12rem;
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Source Code Pro", monospace;
  font-size: 0.8rem;
}
#add-ctg > label {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
#add-ctg > label:first-child {
  margin-top: 0;
}

/*# sourceMappingURL=main.css.map */
